<footer class="footer">
    <small>
    the <a href="http://www.hipe.id/"> Hipe Indonesia <a/>
    by <a href="http://www.hipe.id/" Hipe sutdio <a/>
    </small>
    <nav>
        <ul>
            <li><%= link_to "about", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a href="http://hipe.id/">News</a></li>
        </ul>
    </nav>
</footer>